includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/
    
    level: 7

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection.*expects.*Model.*Closure.*Complaint.*given#'
        - '#Method App\\Http\\Controllers\\SubmissionController::applyFilter\(\) has parameter \$q with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types#'
        - '#Method App\\Http\\Controllers\\SubmissionController::applyFilter\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types#'

    parallel:
        maximumNumberOfProcesses: 1