includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/
    
    level: 7

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#Call to function abort_unless\(\) with bool and 404 will always evaluate to true\.#'
        - '#Return type of call to method Illuminate\\Support\\Collection.*contains unresolvable type\.#'
        - '#PHPDoc tag @var with type Closure.*is not subtype of native type Closure.*#'

    parallel:
        maximumNumberOfProcesses: 1